*{
    box-sizing: border-box;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    border: 1px solid black;
    padding: 5px;
}
button{
    transition: 0.25s;
    background-color: none;
    color: var(--color);
}
form button{
    width: 100%;
    height: 30px;
    --color:rgb(0, 0, 0);
    --hover: rgb(0, 98, 143);
    color:white;
    border: none;
    padding: 0;
    margin: 0%;

}

form input,select{
    background-color: white;
    width: 100%;
    height: 25px;
    border: 1px solid gray;
}
#btn_return{
    background-color: rgb(0, 98, 143);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    border: none;
}